@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';


/* Text Styles */
label {
    font-size: 16px;
    font-weight: bold;
}

a {
    color: #418043;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

textarea {
    font-size: 16px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #418043;
    background-color: whitesmoke;
}

/* Button Styles */
button {
    display: block;
    width: auto;
    margin: 10px 0;
    box-sizing: border-box;
    border: #418043 2px solid;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    text-decoration: underline;
}

.button-outline {
    color: #418043;
    background-color: transparent;
    margin: 10px 0;
    padding: 10px 20px;
    border: 2px solid #418043;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.button-outline:hover {
    background-color: #418043;
    color: white;
}

.button-filled {
    color: white;
    background-color: #418043;
    margin: 10px 0;
    padding: 10px 20px;
    border: 2px solid #418043;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}  

.button-filled:hover {
    background-color: transparent;
    border: 2px solid #418043;
    color: #418043;
}

.button-faded {
    color: grey;
    background-color: #E3ECE5;
    border: 2px solid #E3ECE5;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.button-faded:hover {
    background-color: #d1dbd4;
    color: darkgrey;
}


/* Form Styles */
.form-container {
    display: contents;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-inline: 20%;
    margin: 20px;
}

.form-input {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #418043;
    font-size: 16px;
}

/* Navbar Styles */
.navbar {
    background: #ffffff;
    padding: 1em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Slightly stronger shadow */
    position: relative;
    display: flex;
    justify-content: space-between;
    z-index: 1;
}
  
.nav-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav-item {
    color: #418043;
    text-decoration: none;
}  

.navbar-header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap;
}

.navbar-header h3 {
    color: #62412A;
    margin-inline: 1em;
    white-space: nowrap;
}

.nav-list li {
    margin: 0 1em;
}

/* Toggle Button (hamburger menu) */
.nav-toggle {
    display: none; /* Hide toggle button by default */
    background: none;
    border: none;
    font-size: 1.5em;
    color: #418043;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

/* Sidebar styles and responsive adjustments */
@media (max-width: 768px) {
    .navbar-header {
        justify-content: flex-start; /* Align everything to the left */
        align-items: center; /* Vertically center h2 and toggle button */
    }

    .nav-list {
        display: none; /* Hide the nav list on small screens */
        flex-direction: column;
        align-items: flex-start; /* Align the sidebar items to the left */
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        background-color: rgba(65, 128, 67, 0.9);
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
        padding-top: 3em;
        transition: transform 0.3s ease; /* Smooth transition */
        transform: translateX(-100%); /* Sidebar hidden by default */
    }

    .nav-list.open {
        display: flex;
        transform: translateX(0); /* Smoothly show the sidebar when open */
    }

    .nav-list.closed {
        display: none;
    }

    .nav-list li {
        margin: 1em 0;
    }

    .nav-list li a {
        color: white;
    }

    .nav-list li a:hover {
        text-decoration: none;
        color: black;
    }   

    /* Adjusted: Toggle Button Visible in Sidebar */
    .nav-toggle {
        display: block; /* Show the toggle button on small screens */
        position: relative;
        z-index: 2; /* Ensure it's above the sidebar */
        margin: 0;
        padding: 0;
    }
}

/* Footer Styles */
.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    background-color: #356a36;
    box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    bottom: 0;
    width: 100%;
}
  
  .footer-column {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: #ffffff;
  }
  
  .footer-column h4 {
    margin: 0;
    color: #ffffff;;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    color: #ffffff;
    margin: 0.5em 0;
  }
  
  .footer-column a {
    color: #ffffff;
    text-decoration: none;
    font-weight: lighter;
  }
  
  .footer-column a:hover {
    text-decoration: underline;
  }
  



  
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 47.4% 11.2%;
  
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
  
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 47.4% 11.2%;
  
      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
  
      --card: 0 0% 100%;
      --card-foreground: 222.2 47.4% 11.2%;
  
      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;
  
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
  
      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;
  
      --destructive: 0 100% 50%;
      --destructive-foreground: 210 40% 98%;
  
      --ring: 215 20.2% 65.1%;
  
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 224 71% 4%;
      --foreground: 213 31% 91%;
  
      --muted: 223 47% 11%;
      --muted-foreground: 215.4 16.3% 56.9%;
  
      --accent: 216 34% 17%;
      --accent-foreground: 210 40% 98%;
  
      --popover: 224 71% 4%;
      --popover-foreground: 215 20.2% 65.1%;
  
      --border: 216 34% 17%;
      --input: 216 34% 17%;
  
      --card: 224 71% 4%;
      --card-foreground: 213 31% 91%;
  
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 1.2%;
  
      --secondary: 222.2 47.4% 11.2%;
      --secondary-foreground: 210 40% 98%;
  
      --destructive: 0 63% 31%;
      --destructive-foreground: 210 40% 98%;
  
      --ring: 216 34% 17%;
  
      --radius: 0.5rem;
    }
  }



.infocard{

    @apply
    
    bg-gray-200
    m-3
    p-3
    rounded-md
    space-y-4
    ;
    
}
  
  .edit-form{
    @apply

    flex
    flex-col
    bg-gray-200
    m-3
    py-5
    px-10
    rounded-md

    ;
  }

.infocard-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @apply
    space-y-4;
    
  }
  
  .infocard-details {
    flex: 1;
    margin-right: 10px;
  }
  .infocard-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  

  .registration-form{

    display: flex;
    flex-direction: column;

    & > label{
        @apply
            font-sans;
    }

    & > select{
        @apply
            font-sans;
    }
    
  }
  .registration-form input{
    @apply

    w-full
    bg-slate-300
    rounded-md;
  }

table {
    @apply
    w-full
    border-2
    border-gray-300
    text-center
    ;

    & > thead {
        @apply
        bg-green-700
        text-white
        font-bold
        ;
    }

    & > td {
        @apply
        border-solid
        border-2
        border-black
        ;
    }
}


.team-view{
    @apply

    flex-col
    flex
    flex-wrap
    justify-center
    ;


}

.team-view-section{
    @apply

    flex-row
    flex
    flex-wrap
    justify-center
    gap-8
    ;


}

.data-card{

    @apply
    border
    border-gray-300
    shadow-md
    w-96
    py-4
    px-8
    ;

    & > h3{
        @apply

        text-2xl
        font-bold

        ;
    }
}

/* Data Card Link Styles */
.data-card-link {
    @apply no-underline text-black;
}

.team-form{
    @apply

    flex
    flex-col
}


.activities-view{

    

    @apply

    flex
    flex-col
    ;
}

TaskDetailPage{
    background-color: #62412A;
}

.profile-section{

    background-color: white;

    & > data-list{

        background-color: white;

    }
}


.page-container{
    background-color: white;

    & > .block-section{
        @apply
        flex
        flex-row
        flex-wrap
        justify-center
        gap-8
        ;
    }
        background-color: white;
    }

    & > .task-section-links{
        background-color: white;
    }

AdminDashboard{
    background-color: white;

    & > .pending_tasks_view{
        background-color: white;
    }

    & > .progress_metrics_view{
        background-color: white;
    }

    & > .intern_reflection_view{
        background-color: white;
    }

    & > .task_creation_form{
        background-color: white;
    }
}

LinkDirectoryPage{

    & > ul{

        background-color: white;
    }

    & > li{

        background-color: white;
    }


}

.team-form-container{

    background-color: white;

    & > .team-form{
        background-color: white;

        & > label{
            background-color: white;
        }

        & > textarea{
            background-color: white;
        }

        & > input{
            background-color: white;
        }
    }





}

.danger-zone{

    @apply
    my-10
    border-dashed
    border-2
    border-red-500
    bg-red-50
    p-4
    flex
    flex-col
    text-center
    items-center
    ;

    & > .delete-button {
        @apply 
        font-bold
        border-red-700
        text-red-700
        border-2
        w-auto
        ;
    }

    & > .delete-button:hover {
        @apply
        bg-transparent
        bg-red-700
        text-white
        ;
    }

    & > .cancel-button {
        @apply 
        font-bold
        text-gray-700
        w-auto
        ;
    }

    & > .cancel-button:hover {
        @apply
        bg-transparent
        bg-gray-700
        text-white
        ;
    }

    & > .danger-zone-desc{
        @apply
        mb-5
        ;
    }

    & > .danger-zone-desc > p{
        @apply
        italic
        ;
    }

    & > .danger-zone-desc > h2{
        @apply
        text-red-800
        text-2xl
        font-bold
        ;
    }

    & > .danger-zone-desc > h3{
        @apply
        text-lg
        ;
    }

}


.danger-zone-entry{

    @apply
    flex
    flex-row
    ;

    & > section{

        @apply flex-grow;

    }
}


/*TODO: COMPLETE*/
.modal-hidden{
    /*    
    @apply

    hidden
    
    w-screen
    h-screen

    z-10

    left-0
    top-0

    fixed

    overflow-auto
    bg-black
    bg-opacity-80

    ;
    */

}

.details{
    @apply
    
    p-4
    flex
    flex-col
    gap-2
    
    ;
}

.activity-details{
    @apply

    flex
    flex-col

    p-3

    ;
}

header {
    @apply
    bg-green-800
    text-white
    p-8
    mb-5
    shadow-md
    text-center
    ;
}
h1 {
    @apply
    text-4xl
    font-bold
    my-4
    ;
}

h2 {
    @apply
    text-2xl
    font-bold
    my-4
}

p {
    @apply
    text-base
    my-2
    ;
}

.page-section {
    @apply
    px-24
    my-10
    content-center
    ;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    align-items: start;
  }
  
.grid-layout h2 {
    grid-column: 1 / 2;
}

.block-section  {
    @apply 
    flex 
    flex-row 
    flex-wrap
    gap-8
    ;
  }
  

  
header {
    @apply
    bg-green-800
    text-white
    p-8
    mb-5
    shadow-md
    text-center
    ;
}
h1 {
    @apply
    text-4xl
    font-bold
    my-4
    ;
}

h2 {
    @apply
    text-2xl
    font-bold
    my-4
}

p {
    @apply
    text-base
    my-2
    ;
}

.page-section {
    @apply
    px-24
    my-10
    content-center
    ;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    align-items: start;
  }
  
.grid-layout h2 {
    grid-column: 1 / 2;
}


.reflection-form {
    @apply
    flex
    flex-col
    items-center
        p-4
    rounded-md
    ;



    > textarea {
        @apply
        w-1/2
        
        ;
    }
}

.reflection-form-radio-section {
    @apply
    flex
    flex-row
    items-center
    gap-4
    ;
}

.reflection-form-radio-wrapper {
    @apply
    bg-white
    border-solid
    border-2
    border-[#418043]
    rounded-full
    p-2
    flex
    items-center
    justify-start

    w-[15.5rem]

    transition
    duration-300
    ease-in-out
    ;
}

.reflection-form-radio-wrapper:hover {
    @apply
    bg-[#418043]
    text-white
    ;
}

.activity-reflection-radio {
    @apply
    m-2
    appearance-none
    w-4
    h-4
    border-2
    border-gray-300
    rounded-full
    checked:bg-lime-400
    checked:border-white
    transition
    duration-300
    ease-in-out
    ;
}

  
.block {
    p {
        @apply
        text-gray-600
        italic
        ;
    }
    b {
        @apply
        text-lg
        font-semibold
        ;
    }
    h4 {
        @apply
        text-lg
        ;
    }
    @apply
    w-auto
    flex-auto
    p-3
    my-3 
    border
    border-gray-200
    space-y-10
    ;
}

.activities-subscribe {
    @apply border border-gray-300 p-4 rounded-md flex flex-row items-center;
}

.activities-subscribe button {
    @apply border border-gray-300 p-2 m-2 rounded-md;
}

/* Modal Styles */
.modal {
    @apply fixed inset-0 flex items-center justify-center bg-black bg-opacity-50;
}

.modal-content {
    @apply p-6 rounded-md shadow-md bg-white;
}


.subscriptions-view{
    @apply

    p-8

    flex
    flex-row
    flex-wrap
    justify-center
    gap-4
    ;

    > .data-card{
        @apply
        w-96
        transition
        ease-linear
        ;
    }

    > .data-card:hover{
        @apply
        shadow-md
        shadow-black
        ;

        > h3{
            @apply
            text-green-400
            ;
        }
    }

    > Link{
        @apply
        no-underline
        text-black
        ;
    }
}

.complete-activity-section{
    @apply

    modal
    flex
    flex-col
    ;
}

